:root {
	--height:4px;
	--space: calc(var(--height) * 2.5);
	--animation-speed: 300ms;
}	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}
header {
	width: 100%;
    position: sticky;
    top: 0;
}
nav {
	height:80px;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;

}
header .logo a {
	cursor:pointer;
}
header .logo a img {
	height:65px;
}
header .logo a img:hover {
	filter: drop-shadow(0 0 2px white);
}
header .menu ul {
	display:flex;

}

header .menu ul li a {
	font-size: 20px;
	color:white;
	font-weight: 700;
	padding:10px;
	margin-right: 10px;
	transition-property: background-color, color, border-radius;
	transition-duration: 500ms;
}
header .menu ul li a:hover {
	background-color: #fff;
	color:black;
	border-radius:5px;
}
header .social {
	display:flex;
}
header .social a {
	padding-left: 10px;
}
header .social a i {
	font-size:30px;
	color:white;
}
header .social a:hover {
	opacity:0.5;
}
header input[type="checkbox"] {
	display:none;
}


header .hamburger-menu {
	display:none;
	margin-right: 10px;

}


header .mobil-menu {
	position:absolute;
	top:80px;
	left:-100%;
	width:100%;
	text-align:center;
	background-color: gray;
	transition-property: left, top;
	transition-duration: 0.6s;
	z-index:100;
	display:none;
	margin-top: 10px;
}
header .mobil-menu::before {
	content: "";
	border:8px solid transparent;
	border-bottom-color:dodgerblue;
	position: absolute;
	top: -16px;
    right: 40px;
}
header .mobil-menu ul li {
	border-top:1px solid rgba(0,0,0,0.5);
}
header .mobil-menu ul li a {
	color:white;
	width:100%;
	display:block;
	padding:12px;
	transition-duration: 500ms;
	transition-property: background-color;
}
header .mobil-menu ul li a:hover {
	background-color: #1386f7; 
}
.hamburger-menu {
	width:calc(var(--space) * 4);
	height:calc(var(--height) + (var(--space) * 2));
	display: block;
	cursor: pointer;
}
.hamburger-menu span, .hamburger-menu span::after, .hamburger-menu span::before {
	content: '';
	height: var(--height);
	width: 100%;
	background-color: white;
	display:block;

} 
.hamburger-menu span {
 	transform:translateY(var(--space));
 	transition:var(--animation-speed) var(--animation-speed) background-color;
}
.hamburger-menu span::before {
 	position:absolute;
 	bottom:var(--space);
 	transition:var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) bottom;
}
.hamburger-menu span::after {
 	position:absolute;
 	top:var(--space);
 	transition:var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) top;
}
#menu-toogle{
	display:none;
}
#menu-toogle:checked + .hamburger-menu span {
	background: transparent;
	transition:var(--animation-speed) background-color;
}
#menu-toogle:checked + .hamburger-menu span::before {
	transform: rotate(-45deg);
	bottom:0;
	transition:var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) bottom;
}
#menu-toogle:checked + .hamburger-menu span::after {
	transform: rotate(45deg);
	top:0;
	transition:var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) top;
}
#menu-toogle:checked + label + .menu + .social + .mobil-menu {
	top:80px;
	left:0;
}



.llogo{
	border-radius: 50%;
}
body{
	background-image: url(../img/emilik.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.aaa{
	padding-top: 150px;
	padding-left: 150px;
}
.shop{
	padding-right: 130px;
}
.n1{
	margin-top: 150px;
}
.klorrr{
	border-radius: 50%;
}
.gnel{
	color: black;
}
.chgitem{
	background-color: white;
	width: 150px;
}
.yndhanur{
	display: flex;
}
.yndhanur2{
	display: flex;
	padding-top: 30px;
}
.logggo{
	border-radius: 50%;
}
.loggo{
	padding-top: 100px;
	padding-left: 550px;
}
@media screen and (max-width:768px) {
	header .hamburger-menu {
		display:block;
	}
	label + .menu {
		display:none;
	}
	label + .menu + .social {
		display:none;
	}
	header .mobil-menu {
		display: block;
	}
	.loggo{
		padding-left: 275px;
	}
}
@media screen and (max-width:668px){
	.loggo{
		padding-left: 75px;
	}
}
.logggo{
	height: 300px;
	width: 300px;
}
.scrollTop{
	position: fixed;
	bottom: 800px;
	right: 40px;
	width: 60px;
	height: 60px;
	background: #fff url(../img/up.png);
	border-radius: 50%;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 100000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
.scrollTop.active{
	bottom: 40px;
	visibility: visible;
	opacity: 1;
}
.yndhanur3{
	display: flex;
	padding-top: 30px;
}
.yndhanur4{
	display: flex;
	padding-top: 30px;
}